<h1>My tasks</h1>

<% @tasks.each do |task| %>
  <p>
    <%= check_box_tag "completed_#{task.id}", "1", task.completed %>
    <%= link_to task.title, task_path(task) %>
  </p>
  <hr>
<% end %>

<%= link_to "+ Add a new task", tasks_new_path %>
